<H1>RESULTS</H1>
<div *ngFor="let result of resultList; index as i">
<a [routerLink]="['/recipedetails', i]">{{ result.recipe.label}} </a>
<img src="{{result.recipe.image}}" alt="">
<p> Calories: {{result.recipe.calories}} </p>
<p> Diet Label: {{result.recipe.dietLabels}} </p>
<p> Prep-Time:{{result.recipe.totalTime}} mins </p>
<p> Serving Size: {{result.recipe.yield}} </p>
<!-- <button (click)="toggleFavorite($event)" *ngIf="!recipe.favorite">DELISH</button> -->
<button (click)="addToFavorites(i)" >DELISH</button>

</div>

              
<!-- <button class="btn btn-sm"
    [ngClass]="{ 'disabled' : isSubmitting,
                 'btn-outline-primary': !article.favorited,
                 'btn-primary': article.favorited }"
    (click)="toggleFavorite()">DELISH
   </button> -->

