<form #searchForm="ngForm" (ngSubmit)="searchEdamam(searchForm)">
  <label>Find a recipe</label>
  <input type="text" name="recipename" ngModel />
  <button>Search</button>
</form>

<h2>Filter Results</h2>
<form action="">
<label for="">Calories low to high</label>
<input
  type="radio"
  name="calories"
  [value]="calorieshigh"
  (change)="filterSearch('calorieslow')"
/>
<label for="">Calories high to low</label>
<input
  type="radio"
  name="calories"
  [value]="calorieshigh"
  (change)="filterSearch('calorieshigh')"
/>
</form>

<form action="">
<label for="">Servings 1-3</label>
<input type="radio" name="servings" (change)="filterSearch('onetothree')">

<label for="">Servings 3-6</label>
<input type="radio" name="servings" (change)="filterSearch('fourtosix')">

<label for="">Servings 7+</label>
<input type="radio" name="servings" (change)="filterSearch('sevenplus')">
</form>
<H1>RESULTS</H1>
<div *ngFor="let result of resultList">
  <p>{{ result.recipe.label }}</p>
  <img src="{{ result.recipe.image }}" alt="" />
  <p>Calories: {{ result.recipe.calories }}</p>
  <p>Diet Label: {{ result.recipe.dietLabels }}</p>
  <p>Prep-Time:{{ result.recipe.totalTime }} mins</p>
  <p>Serving Size: {{ result.recipe.yield }}</p>
  <span> DELISH </span>
</div>
