section{
    width: 650px;
    height: 500px;
      display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    margin: 5px;
}
div{

    width: 200px;
    border: 3px solid #254a71;
    border-radius: 5px;
    justify-items: space-around;
    image-orientation: center contain;
    justify-content: center;
  
}

img{
    size: 100px;
    width: 200px;
}
a{
    text-decoration-color: #254a71;
   
}