<header>

  <h2>Delish List</h2>
  
</header>
  <!-- <ul>
    <li *ngFor="let item of items | async">
      <button class="btn" (click)="delete(item)">[x]</button><span>{{item.$value}}</span>
    </li>
  </ul>

<div *ngFor="let favorite of favorites">

    <p>{{ favorite.recipe }}</p>
  
  </div> -->

  <section class= "section">
  <div class= "delish" *ngFor="let favorite of favorites; index as i">
    <a [routerLink]="['/recipedetails', i]">{{ favorite.recipe.label}} </a>
    <img src="{{favorite.recipe.image}}" alt="">
    <p> Calories: {{ favorite.recipe.calories | number: "1.0-0" }} </p>
    <p> Diet Label: {{favorite.recipe.dietLabels}} </p>
    <p> Prep-Time:{{favorite.recipe.totalTime}} mins </p>
    <p> Serving Size: {{favorite.recipe.yield}} </p>

    <button class="btn" (click)="removeFavorite(i)">[Delish Completed]</button><span>{{favorite.$value}}</span>
  
  </div>
  </section>