<h2>Search by Text</h2>

<form #searchForm="ngForm" (ngSubmit)="searchEdamam(searchForm)">
  <label>Find a recipe</label>
  <input type="text" name="recipename" ngModel />
  <button>Search</button>
</form>

<h2>Filter by Category</h2>



<!-- <form #filterForm="ngForm" (ngSubmit)="filterSearch(filterForm)">

  <label for="">Calories</label>
  <input type="checkbox" name="calories" value="" [ngModel]="calories" />

  <label for="">Vegetarian</label>
  <input type="checkbox" name="vegetarian" [value]="vegetarian" [ngModel]="vegetarian" />

  <button>Submit</button>
</form> -->

<!-- <H1>RESULTS</H1>
<recipe-list *ngFor="let result of resultList;">

</recipe-list> -->
